.alpha {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;
  grid-template-areas: "navbar" "page-content";
  background-color: var(--color-background);
}

.alpha-docs__main {
  display: grid;
  /* grid-template-columns: 3fr 7fr; */
  /* grid-template-columns: 24rem 1fr; */
  grid-template-columns: minmax(12rem, 20vw) auto;
  grid-template-rows: 1fr;
  grid-template-areas: "index docs";
}

.alpha-docs__main__aside {
  padding: 1rem;
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--color-white);
  font-family: var(--font-primary);
  background-color: rgba(var(--color-rgb-background-light), 0.5);
}

.alpha-docs__main__article {
  overflow-y: scroll;
}

.alpha-docs--primary {
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--color-alpha);
}

.alpha-docs--secondary {
  padding: 1rem;
  padding-left: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.alpha-docs--secondary:not(:last-child) {
  border-bottom: 2px solid var(--color-alpha);
}

.alpha-docs__intro {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.alpha-docs__intro::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  bottom: 0;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--color-cyan),
    var(--color-purple)
  );
}

.component--block {
  padding: 1rem;
}

.component--title {
  margin-left: 2rem;
  align-self: flex-start;
  background-image: linear-gradient(
      to bottom,
      rgba(var(--color-rgb-cyan), 0.8),
      rgba(var(--color-rgb-green), 1)
    ),
    url("../img/nat-4.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.component--typography {
  flex-direction: column;
  gap: 1rem;
  color: var(--color-white);
}

.component--margin {
  flex-direction: column;
  gap: 1rem;
  color: var(--color-white);
}

.border-rd__demo {
  width: 100%;
  max-width: 40rem;
  height: max-content;
  padding: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.border-rd__examples {
  height: 6rem;
  width: 6rem;
  background: linear-gradient(
    to right bottom,
    rgba(var(--color-rgb-pink), 1),
    rgba(var(--color-rgb-purple), 1)
  );
}

.avatar__type-block {
  width: 100%;
  margin-top: 2rem;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar__type-name {
  width: 100%;
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(var(--color-rgb-orange), 0.8),
      rgba(var(--color-rgb-yellow), 1)
    ),
    url("../img/nat-4.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: transparent; */
}

.avatar__type-demo {
  width: 100%;
  min-width: 22rem;
  gap: 2rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.avatar__code {
  width: 100%;
  max-width: 51rem;
  min-width: 20rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
