/* #### grid #### */

.grid {
  display: grid;
}

/* #### grid #### */

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}

/* Grid 2 Columns  */
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

/* Grid 2 Columns  */
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}
