.btn {
  &--alpha:link,
  &--alpha:active {
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.8rem 1.2rem;
    margin: 1rem;
    background-color: $color-alpha;
    border-radius: 0.6rem;
    box-shadow: 0 1rem 1.4rem rgba($color: $color-black, $alpha: 0.2);

    &:hover,
    &:focus {
      background-color: darken($color: $color-alpha, $amount: 5);
      box-shadow: 0 0.4rem 1.4rem rgba($color: $color-black, $alpha: 0.2);
    }
  }
}
