*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines What 1rem is */
  /* 1rem = 10px , 10px/16px = 62.5% */
  font-size: 62.5%;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: contain;
  object-position: top center;
} */
