/* SCROLL BAR  */
.scroll-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
.scroll-hide::-webkit-scrollbar {
  display: none !important;
  width: 0; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}

/* width */

.w-full {
  width: 100%;
}

.w-max {
  width: max-content;
}

.w-min {
  width: min-content;
}

.w-auto {
  width: auto;
}
/* width */

.h-full {
  height: 100%;
}

.h-max {
  height: max-content;
}

.h-min {
  height: min-content;
}

.h-auto {
  height: auto;
}

/* MARGIN */

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-4 {
  margin: 4rem;
}
.m-6 {
  margin: 6rem;
}
.m-8 {
  margin: 8rem;
}

/* #### TOP #### */
.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-8 {
  margin-top: 8rem;
}
/* #### BOTTOM #### */
.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
/* #### RIGHT #### */
.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 4rem;
}
.mr-6 {
  margin-right: 6rem;
}
.mr-8 {
  margin-right: 8rem;
}
/* #### LEFT #### */
.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 4rem;
}
.ml-6 {
  margin-left: 6rem;
}
.ml-8 {
  margin-left: 8rem;
}

/* PADDING */

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-4 {
  padding: 4rem;
}
.p-6 {
  padding: 6rem;
}
.p-8 {
  padding: 8rem;
}

/* BORDER RADIUS */

.border--rad-s {
  border-radius: 0.5rem;
}
.border--rad-m {
  border-radius: 1rem;
}
.border--rad-l {
  border-radius: 1.5rem;
}
.border--rad-f {
  border-radius: 50%;
}

/* BORDER WIDTH */

.border--s {
  border-width: 1px;
}
.border--m {
  border-width: 2px;
}
.border--l {
  border-width: 4px;
}
.border--xl {
  border-width: 6px;
}

/* BORDER STYLE */

.border--solid {
  border-style: solid;
}
.border--dashed {
  border-style: dashed;
}
.border--dotted {
  border-style: dotted;
}

/* FLEX */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* #### display : flex #### */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* #### flex-direction #### */

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
/* #### justify-content #### */

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
/* #### align-content #### */

.content-start {
  align-content: flex-start;
}
.content-center {
  align-content: center;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

/* #### align-items #### */

.items-stretch {
  align-items: stretch;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-baseline {
  align-items: baseline;
}
/* #### flex-wrap #### */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* #### grid #### */

.grid {
  display: grid;
}

/* #### grid #### */

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}

/* #### object-fit #### */

.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.object-fill {
  object-fit: fill;
}

/* #### object-position #### */

.object-bottom {
  object-position: bottom;
}
.object-center {
  object-position: center;
}
.object-left {
  object-position: left;
}
.object-left-bottom {
  object-position: left bottom;
}
.object-left-top {
  object-position: left top;
}
.object-right {
  object-position: right;
}
.object-right-bottom {
  object-position: right bottom;
}
.object-right-top {
  object-position: right top;
}
.object-top {
  object-position: top;
}

/* #### object-hidden #### */

.overflow-x {
  overflow-x: scroll !important;
}
.overflow-y {
  overflow-y: scroll !important;
}
.overflow-x-hide {
  overflow-x: hidden !important;
}
.overflow-y-hide {
  overflow-y: hidden !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-hide {
  overflow: hidden !important;
}
