.avatar__img {
  width: 100%;
  min-height: 100%;
  vertical-align: middle;
}

.avatar__basic-s {
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
}
.avatar__basic-m {
  overflow: hidden;
  height: 8rem;
  width: 8rem;
  min-width: 8rem;
}
.avatar__basic-l {
  overflow: hidden;
  height: 16rem;
  width: 16rem;
  min-width: 16rem;
}
.avatar__basic-xl {
  overflow: hidden;
  height: 22rem;
  width: 22rem;
  min-width: 22rem;
}

.avatar__text-s {
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__text-m {
  overflow: hidden;
  height: 8rem;
  width: 8rem;
  min-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar__text-l {
  overflow: hidden;
  height: 16rem;
  width: 16rem;
  min-width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar__text-xl {
  overflow: hidden;
  height: 22rem;
  width: 22rem;
  min-width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
