/* ########  BADGE BASICS ######## */
.badge__basic-icon-s,
.badge__basic-icon-m,
.badge__basic-icon-l,
.badge__basic-icon-xl {
  position: relative;
}
.badge__basic-text-s,
.badge__basic-text-m,
.badge__basic-text-l,
.badge__basic-text-xl {
  position: relative;
}
.badge__basic-content-s,
.badge__basic-content-m,
.badge__basic-content-l,
.badge__basic-content-xl {
  position: relative;
}

/* #### BADGE ICON #### */

/* BADGE SMALL */
.badge__basic-icon-s::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -4px;
}

/* BADGE MEDIUM */
.badge__basic-icon-m::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -4px;
}

/* BADGE LARGE */
.badge__basic-icon-l::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: -6px;
  right: -4px;
}

/* BADGE X_LARGE */
.badge__basic-icon-xl::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -4px;
}

/* #### BADGE ICON #### */

/* BADGE SMALL */
.badge__basic-text-s::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -4px;
}

/* BADGE MEDIUM */
.badge__basic-text-m::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -1rem;
}

/* BADGE LARGE */
.badge__basic-text-l::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -1rem;
}

/* BADGE X_LARGE */
.badge__basic-text-xl::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-pink);
  top: 0;
  right: -1rem;
}

/* #### BADGE CONTENT #### */

/* BADGE SMALL */
.badge__basic-content-s::after {
  content: "18";
  font-size: 0.6rem;
  position: absolute;
  padding: 0.2;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -1rem;
}

/* BADGE MEDIUM */
.badge__basic-content-m::after {
  content: "10";
  font-size: 0.8rem;
  position: absolute;
  padding: 0.4;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -1rem;
}

/* BADGE LARGE */
.badge__basic-content-l::after {
  content: "1000";
  font-size: 1rem;
  text-align: center;
  position: absolute;
  padding: 0.4;
  min-width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -1rem;
}

/* BADGE X_LARGE */
.badge__basic-content-xl::after {
  content: "999";
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  min-width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  background: var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -1rem;
}
