/* ########  BADGE BASICS ######## */
.badge__basic-icon-s,
.badge__basic-icon-m,
.badge__basic-icon-l,
.badge__basic-icon-xl {
  position: relative;
}
.badge__basic-text-s,
.badge__basic-text-m,
.badge__basic-text-l,
.badge__basic-text-xl {
  position: relative;
}
.badge__basic-content-wrapper {
  position: relative;
}

/* #### BADGE ICON #### */

/* BADGE SMALL */
.badge__basic-icon-s::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -4px;
}

/* BADGE MEDIUM */
.badge__basic-icon-m::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--color-red);
  top: -0.5rem;
  right: -1rem;
}

/* BADGE LARGE */
.badge__basic-icon-l::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-red);
  top: -6px;
  right: -4px;
}

/* BADGE X_LARGE */
.badge__basic-icon-xl::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -4px;
}

/* #### BADGE ICON #### */

/* BADGE SMALL */
.badge__basic-text-s::after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -4px;
}

/* BADGE MEDIUM */
.badge__basic-text-m::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -1rem;
}

/* BADGE LARGE */
.badge__basic-text-l::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -1rem;
}

/* BADGE X_LARGE */
.badge__basic-text-xl::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: -1rem;
}

/* #### BADGE CONTENT #### */

.badge__basic-content {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 1.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  padding: 0rem 0.4rem;
  color: var(--color-white);
  background-color: var(--color-red);
  top: -0.6rem;
  right: -1.4rem;
}

/* BADGE SMALL */
.badge__basic-content-s {
  transform: scale(0.6);
}

/* BADGE MEDIUM */
.badge__basic-content-m {
  transform: scale(0.8);
}

/* BADGE LARGE */
.badge__basic-content-l {
  transform: scale(1);
}

/* BADGE X_LARGE */
.badge__basic-content-xl {
  transform: scale(1.2);
}
