.input__text-group {
  width: 100%;
  max-width: 35rem;
}

.input__text-group:not(:last-child) {
  margin-bottom: 2rem;
}

.input__text-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(var(--color-rgb-black), 0.5);
  box-shadow: 0 1rem 1.4rem rgba(var(--color-rgb-black), 0.2);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.input__text-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(var(--color-rgb-black), 0.1);
  border-bottom: 3px solid var(--color-green);
}

.input__text-input:focus:invalid {
  border-bottom: 3px solid var(--color-red);
}

.input__text-input::-webkit-input-placeholder {
  color: var(--color-dark-grey-1);
}

.input__text-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.input__text-input:placeholder-shown ~ .input__text-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.input__radio-group {
  width: 100%;
  max-width: 40rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.input__radio-input {
  display: none;
}

.input__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.input__radio-input:checked + .input__radio-label {
  background-image: linear-gradient(
    to right,
    rgba(var(--color-rgb-purple), 1),
    rgba(var(--color-rgb-cyan), 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.input__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--color-alpha);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.input__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: var(--color-alpha); */
  background-image: linear-gradient(
    to top,
    rgba(var(--color-rgb-cyan), 1),
    rgba(var(--color-rgb-purple), 1)
  );
  opacity: 0;
  transition: opacity 0.2s;
}

.input__radio-input:checked ~ .input__radio-label .input__radio-button::after {
  opacity: 1;
}

.input__error {
  visibility: hidden;
  transition: all 0.2s;
  opacity: 0;
  transform: translateY(-1rem);
}
.input__text-input:focus:invalid ~ .input__error {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.input__text-input:focus ~ .input__error {
  visibility: visible;
  opacity: 0;
  transform: translateY(-0.6rem);
}

.input__range-input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  width: 90%;
  height: 1rem;
  background: #4d4c53;
  outline: none;
}

.input__range-datalist {
  width: 90%;
}

/* slider handle */
.input__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: var(--color-alpha);
  cursor: pointer;
  border-radius: 50%;
  outline: 15px solid rgba(234, 52, 111, 0.2);
}

.input__range-input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none; /* firefox needs this */
  width: 2rem;
  height: 2rem;
  background: var(--color-alpha);
  cursor: pointer;
  border-radius: 50%;
  outline: 15px solid rgba(var(--color-rgb-alpha), 0.2);
}

/* progress (before knob) within Firefox */
.input__range-input::-moz-range-progress {
  background: var(--color-alpha);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 1rem;
}
