/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@100;300;400;700&display=swap");

:root {
  /* THEME COLORS */
  --color-background: #282a36;
  --color-background-light: #44475a;
  --color-white: #f8f8f2;
  --color-alpha: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;

  /* THEME COLORS IN rgb  */

  --color-rgb-background: 40, 42, 54;
  --color-rgb-background-light: 68, 71, 90;
  --color-rgb-white: 248, 248, 242;
  --color-rgb-alpha: 98, 114, 164;
  --color-rgb-cyan: 139, 233, 253;
  --color-rgb-green: 80, 250, 123;
  --color-rgb-orange: 255, 184, 108;
  --color-rgb-pink: 255, 121, 198;
  --color-rgb-purple: 189, 147, 249;
  --color-rgb-red: 255, 85, 85;
  --color-rgb-yellow: 241, 250, 140;

  /* BASE COLORS */

  --color-black: #000000;
  --color-rgb-black: 0, 0, 0;

  --color-dark-green-1: #1abc9c;
  --color-dark-green-2: #16a085;

  --color-light-green-1: #2ecc71;
  --color-light-green-2: #27ae60;

  --color-blue-1: #3498db;
  --color-blue-2: #2980b9;

  --color-purple-1: #9b59b6;
  --color-purple-2: #8e44ad;

  --color-dark-grey-1: #34495e;
  --color-dark-grey-2: #2c3e50;

  --color-yellow-1: #f1c40f;
  --color-yellow-2: #f39c12;

  --color-orange-1: #e67e22;
  --color-orange-2: #d35400;

  --color-red-1: #e74c3c;
  --color-red-2: #c0392b;

  --color-white-1: #ecf0f1;
  --color-white-2: #bdc3c7;

  --color-light-grey-1: #95a5a6;
  --color-light-grey-2: #7f8c8d;

  /* FONTS */

  --font-logo: "IBM Plex Sans", sans-serif;
  --font-primary: "Lato", sans-serif;
}
